<!-- breadcrumb-area start -->
<section class="breadcrumb-area pt-40 pb-40">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="breadcrumb-content">
                    <h3 class="title">Login</h3>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Login</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb-area end -->

<!-- login-area start -->
<div class="login-area pt-120 pb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-8">
                <div class="login-form">
                    <form action="" id="form-login" method="POST">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="input-wrap">
                                    <label for="email">email address *</label>
                                    <input type="email" id="email" name="email">
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="input-wrap">
                                    <label for="password">Password *</label>
                                    <input type="password" id="password" name="password">
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="input-wrap">
                                    <button type="submit" class="submit-btn">Login</button>
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6 col-6">
                                <div class="checkbox-wrap">
                                    <input type="checkbox" id="remember">
                                    <label for="remember">Remember me</label>
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6 col-6">
                                <div class="label-text text-right">
                                    <a href="#">Lost your password?</a>
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="create-info">
                                    <span>Not registered? No problem, <a href="/register">Create an account</a></span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- login-area end -->
<script type="text/javascript" src="/frontend/js/login.js"></script>