<!-- breadcrumb-area start -->
<section class="breadcrumb-area pt-40 pb-40">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="breadcrumb-content">
                    <h3 class="title">Register</h3>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li class="active">Register</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb-area end -->

<!-- login-area start -->
<div class="login-area pt-120 pb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-8">
                <div class="login-form">
                    <form action="" id="form-register" method="POST">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="input-wrap">
                                    <label for="fullname">Fullname *</label>
                                    <input type="text" class="forms" id="fullname" name="fullname" placeholder="Fullname" required >
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="input-wrap">
                                    <label for="email">Email *</label>
                                    <input type="email" class="forms" id="email" name="email" placeholder="Email address" required >
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="input-wrap">
                                    <label for="password">Password *</label>
                                    <input type="password" class="forms" id="password" name="password" placeholder="Password" required >
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="input-wrap">
                                    <button type="submit" class="submit-btn">Register</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- login-area end -->
<script type="text/javascript" src="/frontend/js/register.js"></script>