<!-- breadcrumb-area start -->
<section class="breadcrumb-area pt-40 pb-40">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="breadcrumb-content">
                    <h3 class="title">Login</h3>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Login</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb-area end -->

<!-- login-area start -->
<div class="login-area pt-120 pb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-8">
                <div class="login-form">
                    <form action="" id="form-login" method="POST">
                        <% if (data?.status == 400) { %>
                            <div class="alert alert-danger">
                                <%= data.message %>
                            </div>
                        <% }else if (data?.status == 200) { %>
                            <div class="alert alert-success">
                                <%= data.message %>
                            </div>
                        <% }%>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="input-wrap">
                                    <label for="email">email address *</label>
                                    <input type="email" id="email" name="email">
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="input-wrap">
                                    <label for="password">Password *</label>
                                    <input type="password" id="password" name="password">
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="input-wrap">
                                    <button type="submit" class="submit-btn">Login</button>
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6 col-6">
                                <div class="checkbox-wrap">
                                    <input type="checkbox" id="remember">
                                    <label for="remember">Remember me</label>
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6 col-6">
                                <div class="label-text text-right">
                                    <a href="#">Lost your password?</a>
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="create-info">
                                    <span>Not registered? No problem, <a href="/register">Create an account</a></span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- login-area end -->

<!-- brand-area start -->
<div class="brand-area brand-area-3 pt-80 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="brand-slider">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide single-slide">
                                <div class="brand-wrap">
                                    <img src="/frontpage/assets/img/brand/brand-1.png" alt="brand">
                                </div>
                            </div>
                            <div class="swiper-slide single-slide">
                                <div class="brand-wrap">
                                    <img src="/frontpage/assets/img/brand/brand-2.png" alt="brand">
                                </div>
                            </div>
                            <div class="swiper-slide single-slide">
                                <div class="brand-wrap">
                                    <img src="/frontpage/assets/img/brand/brand-3.png" alt="brand">
                                </div>
                            </div>
                            <div class="swiper-slide single-slide">
                                <div class="brand-wrap">
                                    <img src="/frontpage/assets/img/brand/brand-4.png" alt="brand">
                                </div>
                            </div>
                            <div class="swiper-slide single-slide">
                                <div class="brand-wrap">
                                    <img src="/frontpage/assets/img/brand/brand-5.png" alt="brand">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- brand-area end -->

<%- contentFor('script') %>
<script src="/frontpage/js/login.js"></script>
<script>
    console.log('test');
</script>