<!-- footer-area end -->
<footer class="footer-area footer-style-3">
	<div class="footer-top pt-100 pb-70">
		<div class="container">
			<div class="row">
				<div class="col-xl-3 col-lg-3 col-md-4">
					<div class="footer-widget about-widget">
						<div class="about-logo">
							<a href="index.html">
								<img src="/frontpage/assets/img/logo/logo-3.png" alt="logo">
							</a>
						</div>
						<ul>
							<li>ADDRESS: 4772 Wines Lane Houston, TX 77032</li>
							<li>Telephone: +832-347-5843</li>
							<li>Email: <a href="https://www.devsnews.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="492a26273d282a3d090e252c2c672a2624">[email&#160;protected]</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xl-2 col-lg-2 col-md-4">
					<div class="footer-widget links-widgets">
						<h4 class="widget-title">Services</h4>
						<ul>
							<li><a href="#">Contact Us</a></li>
							<li><a href="#">My account</a></li>
							<li><a href="#">Customer Service</a></li>
							<li><a href="#">Term & Condition</a></li>
							<li><a href="#">FAQs</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xl-2 col-lg-2 col-md-4">
					<div class="footer-widget links-widgets">
						<h4 class="widget-title">Account </h4>
						<ul>
							<li><a href="#">Facebook</a></li>
							<li><a href="#">Twitter</a></li>
							<li><a href="#">Instagram</a></li>
							<li><a href="#">Dribbble</a></li>
							<li><a href="#">Google Plus</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xl-5 col-lg-5 col-md-8">
					<div class="footer-widget newsletter-widget">
						<h4 class="widget-title">Newsletter</h4>
						<p>
							Signup to be the first to hear <br> about exclusive deals.
						</p>
						<form action="#">
							<div class="input-wrap">
								<input type="text" placeholder="Email">
								<button>Subscribe</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="row footer-border pt-20 pb-20">
				<div class="col-xl-6 col-lg-6 mb-md-10 mb-xs-10">
					<div class="copyright">
						©2020 Glee Store. All rights reserved.
					</div>
				</div>
				<div class="col-xl-6 col-lg-6">
					<div class="footer-menu">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="about.html">About</a></li>
							<li><a href="faq.html">FAQs</a></li>
							<li><a href="contact.html">Contact Us</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- footer-area end -->