<aside class="slide-bar">
	<div class="close-mobile-menu">
		<a href="javascript:void(0);"><i class="fas fa-times"></i></a>
	</div>

	<!-- offset-sidebar start -->
	<div class="offset-sidebar">
		<div class="offset-widget offset-logo">
			<a href="index.html">
				<img src="/frontpage/assets/img/logo/logo-3.png" alt="logo">
			</a>
		</div>
		<div class="offset-widget">
			<div class="info-widget">
				<h4 class="widget-title">Office Address</h4>
				<p>
					23/A, Miranda City Likaoli Prikano, Dope
				</p>
			</div>
		</div>
		<div class="offset-widget">
			<div class="info-widget">
				<h4 class="widget-title">Phone Number</h4>
				<p> +0989 7876 9865 9 </p>
				<p> +(090) 8765 86543 85 </p>
			</div>
		</div>
		<div class="offset-widget">
			<div class="info-widget">
				<h4 class="widget-title">Email Address</h4>
				<p> <a href="https://www.devsnews.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="e78e898188a7829f868a978b82c984888a">[email&#160;protected]</a> </p>
				<p> <a href="https://www.devsnews.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="92f7eaf3ffe2fef7bcfff3fbfed2fae7ffbcf1fdff">[email&#160;protected]</a> </p>
			</div>
		</div>
		<div class="offset-widget">
			<div class="instagram">
				<a href="#">
					<img src="/frontpage/assets/img/category/cat-1.jpg" alt="cat">
				</a>
				<a href="#">
					<img src="/frontpage/assets/img/category/cat-2.jpg" alt="cat">
				</a>
				<a href="#">
					<img src="/frontpage/assets/img/category/cat-3.jpg" alt="cat">
				</a>
				<a href="#">
					<img src="/frontpage/assets/img/category/cat-2.jpg" alt="cat">
				</a>
				<a href="#">
					<img src="/frontpage/assets/img/category/cat-3.jpg" alt="cat">
				</a>
				<a href="#">
					<img src="/frontpage/assets/img/category/cat-1.jpg" alt="cat">
				</a>
			</div>
		</div>
		<div class="offset-widget">
			<div class="social-widget">
				<a href="#">
					<i class="fab fa-facebook-f"></i>
				</a>
				<a href="#">
					<i class="fab fa-twitter"></i>
				</a>
				<a href="#">
					<i class="fab fa-google-plus-g"></i>
				</a>
				<a href="#">
					<i class="fab fa-instagram"></i>
				</a>
			</div>
		</div>
	</div>
	<!-- offset-sidebar end -->

	<!-- side-mobile-menu start -->
	<%- include("mobileMenu") %>
	<!-- side-mobile-menu end -->
</aside>
<div class="body-overlay"></div>